#lucky-draw{
    width: 100vw;
        height: 100vh;
        background-image: url('../../images/lucky-draw/random.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: right bottom;
        position: relative;

.step {
        display: none;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 90%;
        height: 90%;

        &.show {
            display: block;
        }
    }

    .add-file {
        position: absolute;
        right: 0;
        top: 0;

        input {
            opacity: 0;
        }

        label {
            width: 50px;
            height: auto;
            display: block;

            img {
                display: block;
                width: 100%;
            }
        }
    }

    .title {
        font-size: 60px;
        text-align: center;
        color: #F37121;
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translateX(-50%);
        text-shadow: 2px 2px 0 #ffffff, 2px -2px 0 #ffffff, -2px 2px 0 #ffffff, -2px -2px 0 #ffffff, 2px 0px 0 #ffffff, 0px 2px 0 #ffffff, -2px 0px 0 #ffffff, 0px -2px 0 #ffffff, 2px 2px 2px rgba(255, 255, 255, 0);
    }

    .group-gift {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        justify-content: space-around;
        width: 100%;
        max-width: 600px;

        .btn-gift {
            font-family: 'Bungee', cursive;
            background-color: #ffffff;
            border-color: #ffffff;
            border-width: 0;
            font-size: 24px;
            color: #28a745;
            padding: 10px 20px;
            border-radius: 25rem;
            min-width: 150px;
            box-shadow: -1px 1px 5px 0px rgba(0, 0, 0, 0.75);
            -webkit-box-shadow: -1px 1px 5px 0px rgba(0, 0, 0, 0.75);
            -moz-box-shadow: -1px 1px 5px 0px rgba(0, 0, 0, 0.75);
        }
    }

    .group-random {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        max-width: 600px;

        .code {
            margin-bottom: 30px;

            label {
                color: #F37121;
                margin-bottom: 10px;
                display: block;
            }

            .form-code {
                padding: 20px;
                background-color: #fff;
                border-radius: 10px;
                display: flex;
                justify-content: space-between;
                box-shadow: -1px 1px 5px 0px rgba(0, 0, 0, 0.75);
                -webkit-box-shadow: -1px 1px 5px 0px rgba(0, 0, 0, 0.75);
                -moz-box-shadow: -1px 1px 5px 0px rgba(0, 0, 0, 0.75);

                .code {
                    flex: 0 0 20%;
                    font-size: 40px;
                    color: #F37121;
                    text-align: center;
                    margin-bottom: 0;
                }
            }
        }

        .gift {
            font-size: 60px;
            text-align: center;
            color: #ffffff;
            margin-bottom: 30px;
        }

        .randomCode {
            font-family: 'Bungee', cursive;
            background-color: #ffffff;
            border-color: #ffffff;
            border-width: 0;
            font-size: 24px;
            color: #28a745;
            padding: 10px 20px;
            border-radius: 25rem;
            min-width: 250px;
            margin: auto;
            display: block;
            box-shadow: -1px 1px 5px 0px rgba(0, 0, 0, 0.75);
            -webkit-box-shadow: -1px 1px 5px 0px rgba(0, 0, 0, 0.75);
            -moz-box-shadow: -1px 1px 5px 0px rgba(0, 0, 0, 0.75);
        }
    }

    .list-winner {
        position: absolute;
        right: 0;
        top: 0;
        width: 300px;
        font-size: 20px;
        color: #F37121;
        background-color: #ffffff;
        padding: 20px;
        border-radius: 10px;

        .ls-w {
            color: #28a745;
            margin-bottom: 20px;
        }

        .l {
            font-size: 30px;
        }
    }
}
